#msg-container {
    position: fixed;
    top: 5%;
    left: 46%;
    text-align: center;
    display: none;
}
.msg {
    padding: 0.5rem;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}
.success-msg {
    background-color: #ade79c;
    color: #000;
}

.error-msg {
    background-color: #eea9a9;
    color: #000;
}